@font-face {
  font-family: "Monserrat";
  src: url("./ASSETS/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./ASSETS/fonts/Roboto-Light.ttf");
}

body {
  width: 100%;
}

.headBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(255, 255, 255, 0.212)),
    url("./ASSETS/frontEndTestAssets/backgroundBitmap.png");
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: "Monserrat";
  color: white;
}

.btnSignUp {
  border-radius: 20px;
  border: 2px solid white;
  margin: 1rem;
  font-size: 22px;
  padding: 5px 25px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-family: "Monserrat";
}

.signUp {
  display: flex;
  font-size: 22px;
  flex-direction: row;
  align-items: center;
}

.title {
  font-family: "Monserrat";
  font-size: 52px;
  color: #f7f3f2;
  text-align: center;
  line-height: 20px;
}

.subTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: #f7f3f2;
  text-align: center;
  line-height: 20px;
}

.btnFind {
  border-radius: 20px;
  border: none;
  margin: 1rem;
  font-size: 18px;
  padding: 15px 50px;
  background-color: #ff4e50;
  color: white;
  text-decoration: none;
  font-family: "Monserrat";
  font-weight: bold;
}

.containerBanner {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
}

.stepsZone {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6rem;
  width: 80%;
}

.imgCards {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: flex-end;
  width: 300px;
  height: 400px;
}

.card > button {
  margin: 0;
  width: 40%;
  font-size: 12px;
  padding: 10px 20px;
  font-family: "Roboto";
  letter-spacing: 4px;
}

.meetPartner {
  border: 1px solid blue;
  justify-content: center;
  align-content: center;
  padding-top: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.partners {
  border: 1px solid red;
  text-align: center;
  padding: 1rem;
  justify-content: space-between;
}

.partners > div > img {
  border: 1px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
