@font-face {
  font-family: "MonBold";
  src: url("../ASSETS/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "MonLight";
  src: url("../ASSETS/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../ASSETS/fonts/Roboto-Light.ttf");
}

$redBtn: #ff4e50;
$MonBold: "MonBold";
$MonLight: "MonLight";

@keyframes slideUp {
  from {
    padding-top: 10rem;
  }
  to {
    padding-top: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 4s ease;
}

.animate-opacity {
  animation: appear 3s ease;
}

div > button {
  border-radius: 20px;
  border: none;
  margin: 1rem;
  font-size: 14px;
  padding: 0.75rem 3.5rem;
  background-color: $redBtn;
  color: white;
  font-family: $MonBold;
}

body {
  width: 100%;
}

.mainContainer {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: fit-content;
}

.HeaderPromo {
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.445)),
    url("../ASSETS/frontEndTestAssets/backgroundBitmap.png");
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: $MonLight;
  animation: slideUp 1.5s ease;
}

.topBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin-left: 3rem;
  margin-right: 3rem;
  color: white;
}

.bigScreenLogo {
  display: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: $MonBold;
}

.mobileLogo {
  justify-content: end;
  padding-top: 2.5rem;
  color: white;
  font-size: 20px;
  font-family: $MonBold;
}

.btnSignUp {
  border-radius: 20px;
  border: 2px solid white;
  margin: 1rem 2rem;
  font-size: 18px;
  padding: 5px 25px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-family: $MonBold;
}

.signUp {
  display: flex;
  font-size: 22px;
  flex-direction: row;
  align-items: center;
}

.containerBanner {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.title {
  text-align: center;
  width: 100%;
  font-family: $MonBold;
  font-size: 30px;
  color: #f7f3f2;
  text-align: center;
  letter-spacing: 3px;
}

.subTitle {
  font-family: $MonLight;
  font-size: 18px;
  padding: 0rem 2rem;
  color: #f7f3f2;
  text-align: center;
}

.howItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 4rem;

  p {
    text-align: center;
    font-family: $MonBold;
    color: black;
    font-size: 22px;
  }

  .imgCards {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    justify-content: space-between;

    .card {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      justify-content: flex-end;
      width: 300px;
      height: 400px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 5px 10px 0 rgba(0, 0, 0, 0.19);

      button {
        margin: 0;
        width: 40%;
        font-size: 12px;
        padding: 0.5rem 0.75rem;
        font-family: "Roboto";
        letter-spacing: 4px;
        margin-bottom: 1rem;
      }

      .stepTitle {
        color: white;
        font-size: 24px;
        font-family: $MonBold;
        margin-bottom: 1rem;
      }
      .stepSubTitle {
        color: white;
        font-size: 14px;
        font-family: $MonLight;
      }
    }
  }
}

.meetPartner {
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
  padding-top: 1.5rem;

  p {
    text-align: center;
    font-family: $MonBold;
    font-size: 22px;
    padding: 0rem 2rem;
  }

  button {
    color: $redBtn;
    background-color: white;
    border: 2px solid $redBtn;
  }

  .partners {
    text-align: center;
    padding: 1rem;
    justify-content: space-between;

    div > img {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right: 3.5rem;
      margin-left: 3.5rem;
    }
  }
}

.Ideas {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 100%;
  margin-top: 5rem;

  p {
    text-align: center;
    font-family: $MonBold;
    font-size: 22px;
    padding: 0rem 3rem;
  }

  .activities {
    display: flex;
    flex-flow: row wrap;
    padding: 0rem 0rem;

    div {
      margin: 0.5rem 0.5rem;
      display: flex;
      color: white;
      flex-flow: row wrap;
      justify-content: center;
      flex-grow: 1;
      height: 120px;
      padding: 0rem 1rem;
      font-family: $MonBold;
      font-size: 22px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 5px 10px 0 rgba(0, 0, 0, 0.19);
    }

    div > p {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
    }
  }
}

.Interests {
  display: flex;
  flex-flow: column wrap;
  margin-top: 4rem;
  width: 100%;
  text-align: center;

  p {
    text-align: center;
    font-family: $MonBold;
    font-size: 22px;
    padding: 0rem 2rem;
  }

  .subTitle {
    color: black;
    margin-bottom: 1rem;
    padding: 0;
  }

  .miniForm {
    input {
      padding: 0.75rem 0.5rem;
      border-radius: 3px;
      border: 1px solid #d4d4d4;
      font-family: $MonLight;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
      font-size: 14px;
      width: 80%;
    }
    button {
      width: 85%;
    }
  }
}

footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.25rem solid $redBtn;

  .footerLogo {
    color: $redBtn;
    font-family: $MonBold;
    font-size: 16px;
    margin-bottom: 1rem;
  }

  div {
    width: 100%;
    font-family: $MonBold;
    font-size: 18px;
    color: #444444;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  div > img {
    height: 50px;
    margin: 2rem 0rem;
  }

  .coPages {
    flex-flow: column wrap;
  }

  .Company {
    margin-top: 1rem;
    margin-bottom: 1rem;
    div {
      font-family: $MonLight;
      font-size: 16px;
      padding: 0.25rem;
      width: auto;
    }
  }
}

$bp-tablet: 1024px;
$bp-mobile: 480px;

@media (min-width: $bp-tablet) {
  .howItWorks {
    .imgCards {
      .card {
        width: 235px;
      }
    }
  }
}

@media (min-width: $bp-mobile) {
  .bigScreenLogo {
    display: block;
  }

  .title {
    width: 60%;
  }

  .HeaderPromo {
    height: 700px;
  }

  .mobileLogo {
    display: none;
  }

  .Ideas {
    width: 80%;

    .activities > div {
      height: 310px;
    }
  }

  .Interests {
    .miniForm {
      input {
        width: 30%;
      }
      button {
        width: 23%;
      }
    }
  }

  footer {
    .Company {
      flex-flow: column wrap;
      text-align: left;
    }

    .coPages {
      margin-bottom: 1rem;
    }

    div > img {
      margin: 0;
    }

    div {
      width: auto;
      justify-content: flex-start;
    }
  }
}
