@font-face {
  font-family: "MonBold";
  src: url("../ASSETS/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "MonLight";
  src: url("../ASSETS/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../ASSETS/fonts/Roboto-Light.ttf");
}

@-webkit-keyframes slideUp {
  from {
    padding-top: 10rem;
  }
  to {
    padding-top: 0;
  }
}

@keyframes slideUp {
  from {
    padding-top: 10rem;
  }
  to {
    padding-top: 0;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slideUp {
  -webkit-animation: slideUp 4s ease;
          animation: slideUp 4s ease;
}

.animate-opacity {
  -webkit-animation: appear 3s ease;
          animation: appear 3s ease;
}

div > button {
  border-radius: 20px;
  border: none;
  margin: 1rem;
  font-size: 14px;
  padding: 0.75rem 3.5rem;
  background-color: #ff4e50;
  color: white;
  font-family: "MonBold";
}

body {
  width: 100%;
}

.mainContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.HeaderPromo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.342)), to(rgba(0, 0, 0, 0.445))), url("../ASSETS/frontEndTestAssets/backgroundBitmap.png");
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.445)), url("../ASSETS/frontEndTestAssets/backgroundBitmap.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 550px;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "MonLight";
  -webkit-animation: slideUp 1.5s ease;
          animation: slideUp 1.5s ease;
}

.topBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin-left: 3rem;
  margin-right: 3rem;
  color: white;
}

.bigScreenLogo {
  display: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: "MonBold";
}

.mobileLogo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 2.5rem;
  color: white;
  font-size: 20px;
  font-family: "MonBold";
}

.btnSignUp {
  border-radius: 20px;
  border: 2px solid white;
  margin: 1rem 2rem;
  font-size: 18px;
  padding: 5px 25px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-family: "MonBold";
}

.signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerBanner {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.title {
  text-align: center;
  width: 100%;
  font-family: "MonBold";
  font-size: 30px;
  color: #f7f3f2;
  text-align: center;
  letter-spacing: 3px;
}

.subTitle {
  font-family: "MonLight";
  font-size: 18px;
  padding: 0rem 2rem;
  color: #f7f3f2;
  text-align: center;
}

.howItWorks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.howItWorks p {
  text-align: center;
  font-family: "MonBold";
  color: black;
  font-size: 22px;
}

.howItWorks .imgCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.howItWorks .imgCards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 300px;
  height: 400px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.howItWorks .imgCards .card button {
  margin: 0;
  width: 40%;
  font-size: 12px;
  padding: 0.5rem 0.75rem;
  font-family: "Roboto";
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

.howItWorks .imgCards .card .stepTitle {
  color: white;
  font-size: 24px;
  font-family: "MonBold";
  margin-bottom: 1rem;
}

.howItWorks .imgCards .card .stepSubTitle {
  color: white;
  font-size: 14px;
  font-family: "MonLight";
}

.meetPartner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 5rem;
  padding-top: 1.5rem;
}

.meetPartner p {
  text-align: center;
  font-family: "MonBold";
  font-size: 22px;
  padding: 0rem 2rem;
}

.meetPartner button {
  color: #ff4e50;
  background-color: white;
  border: 2px solid #ff4e50;
}

.meetPartner .partners {
  text-align: center;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.meetPartner .partners div > img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

.Ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  width: 100%;
  margin-top: 5rem;
}

.Ideas p {
  text-align: center;
  font-family: "MonBold";
  font-size: 22px;
  padding: 0rem 3rem;
}

.Ideas .activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0rem 0rem;
}

.Ideas .activities div {
  margin: 0.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 120px;
  padding: 0rem 1rem;
  font-family: "MonBold";
  font-size: 22px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.Ideas .activities div > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.Interests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: 4rem;
  width: 100%;
  text-align: center;
}

.Interests p {
  text-align: center;
  font-family: "MonBold";
  font-size: 22px;
  padding: 0rem 2rem;
}

.Interests .subTitle {
  color: black;
  margin-bottom: 1rem;
  padding: 0;
}

.Interests .miniForm input {
  padding: 0.75rem 0.5rem;
  border-radius: 3px;
  border: 1px solid #d4d4d4;
  font-family: "MonLight";
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  font-size: 14px;
  width: 80%;
}

.Interests .miniForm button {
  width: 85%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.25rem solid #ff4e50;
}

footer .footerLogo {
  color: #ff4e50;
  font-family: "MonBold";
  font-size: 16px;
  margin-bottom: 1rem;
}

footer div {
  width: 100%;
  font-family: "MonBold";
  font-size: 18px;
  color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div > img {
  height: 50px;
  margin: 2rem 0rem;
}

footer .coPages {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

footer .Company {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer .Company div {
  font-family: "MonLight";
  font-size: 16px;
  padding: 0.25rem;
  width: auto;
}

@media (min-width: 1024px) {
  .howItWorks .imgCards .card {
    width: 235px;
  }
}

@media (min-width: 480px) {
  .bigScreenLogo {
    display: block;
  }
  .title {
    width: 60%;
  }
  .HeaderPromo {
    height: 700px;
  }
  .mobileLogo {
    display: none;
  }
  .Ideas {
    width: 80%;
  }
  .Ideas .activities > div {
    height: 310px;
  }
  .Interests .miniForm input {
    width: 30%;
  }
  .Interests .miniForm button {
    width: 23%;
  }
  footer .Company {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    text-align: left;
  }
  footer .coPages {
    margin-bottom: 1rem;
  }
  footer div > img {
    margin: 0;
  }
  footer div {
    width: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */